<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}{{ with .Title }} | {{ . }}{{ end }}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <link rel="sitemap" type="application/xml" href="/sitemap.xml">
    {{ block "extra_css" . }}{{ end }}
    <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
    {{ partial "schema.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    <script src="/src/js/app.js"></script>
  </body>
</html>
